{% extends 'dashboard/baseDashboard.html.twig' %}

{% block body %}
    <div>
        <p>Je suis là</p>
        <p>Je suis là</p>
        <p>Je suis là</p>
        <p>Je suis là</p>
        <p>Je suis là</p>
    </div>
{% endblock %}